<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="/toolmantalk/static/js/jquery.min.js" type="text/javascript"></script>
    <script src="/toolmantalk/static/js/vue.min.js" type="text/javascript"></script>
    <script src="/toolmantalk/static/js/axios.min.js" type="text/javascript"></script>
    <style type="text/css">
        td{
            border:1px solid gray;
        }

        table{
            border-collapse:collapse;
        }

        div#app{
            margin:20px auto;
            width:400px;
            padding:20px;

        }

        div#pagination{
            text-align: center;
            line-height: 100px;
        }
        div#pagination a{
            text-decoration:none;
        }

        .disableHref{
            cursor:default;
            color:#E5E0E0;
            text-decoration:none;
        }
    </style>
    <script>
        $(function(){
            $("a.disableHref").click(function(event){
                return false;
//                event.preventDefault();
            });
        });
    </script>
</head>
<body>



<div id="app">

    <div v-if="user.username!=null">
        <div>
            你好！  <span style="background-color:yellow;">{{user.username}}</span>
        </div>
        <div>
            头像：<span style="background-color:skyblue">{{user.headerUrl}}</span>
            <img style="height: 50px;width: 50px;" :src="user.headerUrl" alt="">
        </div>
        <div>
            注销：<a href="#" @click="logout">点这</a>
        </div>
    </div>
    <div v-if="flag=='false'">
        <a href="/toolmantalk/loginPage">登录</a>
        <a href="/toolmantalk/register">注册</a>
    </div>


    <table id="heroListTable" >

        <tr>
            <td colspan="3">
                <div id="pagination" >
                    <a :class="{ disableHref: pagination.pageNum==1 }" href="#nowhere" @click="jump('first')">[first]</a>
                    <a :class="{ disableHref: !pagination.hasPreviousPage }" href="#nowhere" @click="jump('pre')">[pre]</a>

                    <a href="#nowhere" :class="{disableHref:pagination.pageNum==i}"  v-for="i in pagination.navigatepageNums" @click="jumpByNumber(i)" >
                        {{i}}
                    </a>

                    <a :class="{ disableHref: !pagination.hasNextPage }" href="#nowhere" @click="jump('next')">[next]</a>
                    <a :class="{ disableHref: pagination.pageNum==pagination.pages }" href="#nowhere" @click="jump('last')">[last]</a>
                </div>
            </td>
        </tr>

        <tr>
            <td>用户名</td>
            <td>帖子标题</td>
            <td>帖子内容</td>
        </tr>

        <tr v-for="post in posts ">
            <td>{{post.user.username}}</td>
            <td>{{post.title}}</td>
            <td>{{post.content}}</td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    var data4Vue = {
        contextPath:'http://localhost:8080/toolmantalk/',
        posts: [],
        pagination:{},
        user:[],
        flag:''
    };

    //ViewModel
    var vue = new Vue({
        el: '#app',
        data: data4Vue,
        mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
            this.list(1);
            this.getUser();
        },
        methods: {
            list:function(start) {
                var url = this.contextPath+"discussposts?start="+start;
                axios.get(url).then(function (response) {
                    vue.pagination = response.data;
                    vue.posts = response.data.list;
                });
            },
            getUser:function () {
                var url = this.contextPath+"getUser";
                axios.get(url).then(function (response) {
                    var result = response.data;
                    if (result.code == 0) {
                        vue.user = result.data;
                    }else {
                        vue.flag = result.flag;
                    }
                });
            },
            jump: function(page){
                if('first'== page && 1!=vue.pagination.pageNum)
                    vue.list(1);

                else if('pre'== page && vue.pagination.hasPreviousPage )
                    vue.list(vue.pagination.prePage);

                else if('next'== page && vue.pagination.hasNextPage)
                    vue.list(vue.pagination.nextPage);

                else if('last'== page && vue.pagination.pageNum!=vue.pagination.pages)
                    vue.list(vue.pagination.pages);

            },
            jumpByNumber: function(start){
                if(start!=vue.pagination.pageNum)
                    vue.list(start);
            },
            logout:function () {
                var url = "logout";
                axios.get(url).then(function (response) {
                    var result = response.data;
                    //如果注销成功 返回登录页面
                    if (result.code==0){
                        location.href="loginPage";
                    }
                });
            }
        }
    });

</script>
</body>
</html>